* {
    font-family: 'Poppins'
}

div {
    background-color: white;
    border-radius: 8px;
    padding: 8px
}

body {
   
    background-color: #C0E0DE;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: px;
}